html {
    width: 100%;
    height: 100%;
}

body {
    /*overflow-y: hidden;*/
    width: 100%;
    height: 100%;
}

#search_icon {
    width: 100%;
}

.prompt {
    width: 100%;
}

.search.icon {
    cursor: pointer;
}

.ui.icon.input>i.icon:not(.link) {
    pointer-events: all;
}

.ui.sub.header {
    text-transform: none;
}

 #example1{
  top: 50%;
  margin: 0px;
  z-index: 1000;
}

.ui.progress > .label{
  color: white;
}

td>a {
    cursor: pointer;
}

i.icon,
i.icons {
    font-size: 1.3em;
}

/* Navbar style starts */

.ui.secondary.menu .item{
    color: white;
    font-weight: bold;
}

.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover {
    color: white;   
}


.ui.ui.secondary.menu {
    background: #113656;
    background: -webkit-linear-gradient(left, #113656 , #0d2a45); 
    background: -o-linear-gradient(right, #113656 , #0d2a45); 
    background: -moz-linear-gradient(right,  #113656 , #0d2a45); 
    background: linear-gradient(to right,  #113656 , #0d2a45); 
    background-image: url('../images/Banners/Asset 56_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 3px solid rgb(19, 195, 188); 
    margin-bottom: 0px;
    /*padding-bottom: 1em;*/
}

.ui.secondary.menu > .ui.container {
    /*padding-bottom: 1em;*/
}

.ui.secondary.menu .item > img:not(.ui) {
    width: 25px;
    height: 27px;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu > a.item > img {
    width: 120px;
    height: 60px;
}

/* Navbar style ends */
table {
    width: 100%;
    table-layout: fixed;
}

td {
    max-width: 75px;
    word-wrap: break-word;
}

.hide {
    display: none;
}

.show {
    display: block;
}

td.selectionRow {
    padding: 0px initial !important;
}

.ui.button {
    background-color: #1E7F78;
    color: white;
}

.ui.button:hover {
    background-color: #0E655F;
    color: white;
}


.ui.button:focus {
    background-color: #0E655F;
    color: white;
}


td,
tr,
th {
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
}

td, th {
    display: table-cell;
    vertical-align: top;
}

a.text-primary {
    color: #0E655F;
}

a.text-primary:hover {
    color: #1E7F78;
}

.ui.message {
    background: #1E7F78;
    color: white;
}

.right{
    float: right;
}

/* Auth Card Style Starts */

.ui.cards>.card>.content,
.ui.card>.content {
    padding: 1.8em 1.8em;
    /*padding-bottom: 0.7em;*/
}

.ui.cards>.card>.content>.header:not(.ui),
.ui.card>.content>.header:not(.ui) {
    padding: 0.3em 0.2em;
}

.ui.card {
    background-color: #F0F0F0;
    margin: 0.5em 0em;
    width: 100%;
}

.ui.form input:not([type]),
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="tel"],
.ui.form input[type="text"] {
    padding: 0.378571em 0.5em;
    background-color: #282828;
    color: white;
}

.ui.form input:not([type]):focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="text"]:focus {
    background-color: #282828;
    color: white;
}

.ui.button.teal {
    /* opacity: 0.5; */
    padding: 0.5em 1em;
    background-color:rgb(19, 195, 188); 
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Auth Card Style Ends */


/* Dropzone Style Starts */

.dropZoneOverlay,
.FileUpload {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropZoneOverlay {
    color: white;
    padding: 20px 0px;
    background-position: 50% 50%;
    border-radius: 10px;
    position: relative;
    top: 0px;
    text-align: center;
    height: 100%;
}

.FileUpload {
    opacity: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
}

.DropParent {
    height: 100%;
    width: 100%;
    position: absolute;
}

.ui.segment{
    background-color: transparent;
    border-style: none;
    box-shadow: none;
}

.ui.selection.dropdown {
    min-width: 100%;
    border-radius: 1.5em;
    background: rgb(240,240,240);
    padding-top: 0.85em;
    line-height: 0.8em;
}

.ui.dropdown .menu {
    background: rgb(240,240,240);
}

#list-items {
    max-height: 300px;
    min-height: 300px;
    overflow-x: hidden;
    /*overflow-y: auto;*/
}

#filePathMessage {
    text-align: center;
}

/* Dropzone Style Ends */


/*Table style starts*/
.ui.accordion tbody tr.ui.content.active {
    display: table-row;
}

.ui.table tr td {
    /*border: 1px solid rgba(34, 36, 38, 0.1)*/
    vertical-align: middle;
}

.ui.accordion .active.content,
    .ui.accordion .accordion tr.active.content {
        display: table-row;
    }

td,
th {
    display: table-cell;
    vertical-align: top;
}

.ui.table td {
    padding: 0.345714em 1.0571429em;
}



table.ui.table {
    /*border-top: none;*/
    border-style: none;
}

.ui.table tr.ui.content.active,
.ui.table td.active {
    background-color: rgb(245,245,245) !important;
    color: black;
}

.ui.table thead th {
    background-color: transparent;
    border-style: none;
    padding: 3px 0px;
    padding-left: 10px;
    border-top: none;
    color: rgb(101,94,94);
    border-bottom: 0.23em solid rgb(152, 152, 152);
}

.ui.table thead {
    border-style: none;
    /*padding: 0px;*/
}

.ui.styled.accordion,
.ui.styled.accordion .accordion {
    box-shadow: none;
    /*border-style: 1px solid black;*/
}

.ui.table thead {
    border-right: none;
    border-left: none;
}

.ui.table {
    border-top: none;
    /*border: 1px solid rgba(34, 36, 38, 0.15)*/
}

.ui.styled.accordion .active.title {
    /*background-color: #34A89E;*/
}

.ui.styled.accordion .title:hover,
.ui.styled.accordion .active.title,
.ui.styled.accordion .accordion .title:hover,
.ui.styled.accordion .accordion .active.title {
    /*background-color: rgb(152, 152, 152);*/
}

.ui.styled.accordion .title,
.ui.styled.accordion .accordion .title {
    color: black;
    border: 1px solid black;
}

tr.ui.content {
    background-color: white;
}

.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {}

.ui.table tr.active,
.ui.table td.active {
    background-color: rgb(190, 190, 190) !important;
}

td > div> img {
    vertical-align: middle;
}

/*Table style ends */
    .loader {
        font-size: 20px;
        position: relative;
        width: 4em;
        height: 1em;
        margin: 0px auto;
    }

    .dot {
        width: 1em;
        height: 1em;
        border-radius: 0.5em;
        background: rgb(256, 256, 256);
        position: absolute;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    .dot1,
    .dot2 {
        left: 0;
    }

    .dot3 {
        left: 1.5em;
    }

    .dot4 {
        left: 3em;
    }

    @keyframes reveal {
        from {
            transform: scale(0.001);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes slide {
        to {
            transform: translateX(1.5em)
        }
    }


    .dot1 {
        animation-name: reveal;
    }

    .dot2,
    .dot3 {
        animation-name: slide;
    }

    .dot4 {
        animation-name: reveal;
        animation-direction: reverse;
        /* thx @HugoGiraudel */
    }

/* Loader Style Starts */

#overlay {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #002522;
    border-radius: 50%;
    border-top: 16px solid #00514B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Loader Style Ends */

/*Container Style Starts*/

@media only screen and (min-width: 1366px) {
    .ui.container {
        width: calc(100% - 7.25%);
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc(100% - 7.25%);
        !important;
    }

    .ui.relaxed.grid.container {
        width: calc(100% - 7.25%);
        !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc(100% - 7.25%);
        !important;
    }
}


/*Container Style Ends*/